.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

dependency-graph.pdf
lerna-debug.log
packages/**/node_modules
node_modules
yarn-error.log
.vscode
.idea
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# truffle
packages/truffle/build
packages/truffle/stats.json
packages/truffle/.DS_Store
packages/truffle/Thumbs.db
packages/truffle/.tern-port
packages/truffle/dependencies
packages/truffle/$RECYCLE.BIN/

# @truffle/debugger
packages/debugger/.tmp

# @truffle/contract
packages/contract/browser-dist

# python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/simulation/script/node_modules
/simulation/script/packages-lock.json
/simulation/script/packages.json
/simulation/script/.gitignore
/simulation/script/node_modules
/simulation/script/__pycache__/
/simulation/script/*.py[cod]
/simulation/script/*$py.class
/simulation/script/*.so
/simulation/script/.Python
/simulation/script/build/
/simulation/script/develop-eggs/
/simulation/script/dist/
/simulation/script/downloads/
/simulation/script/eggs/
/simulation/script/.eggs/
/simulation/script/lib/
/simulation/script/lib64/
/simulation/script/parts/
/simulation/script/sdist/
/simulation/script/var/
/simulation/script/wheels/
/simulation/script/share/python-wheels/
/simulation/script/*.egg-info/
/simulation/script/.installed.cfg
/simulation/script/*.egg
/simulation/script/MANIFEST
/simulation/script/*.manifest
/simulation/script/*.spec
/simulation/script/pip-log.txt
/simulation/script/pip-delete-this-directory.txt
/simulation/script/htmlcov/
/simulation/script/.tox/
/simulation/script/.nox/
/simulation/script/.coverage
/simulation/script/.coverage.*
/simulation/script/.cache
/simulation/script/nosetests.xml
/simulation/script/coverage.xml
/simulation/script/*.cover
/simulation/script/*.py,cover
/simulation/script/.hypothesis/
/simulation/script/.pytest_cache/
/simulation/script/cover/
/simulation/script/*.mo
/simulation/script/*.pot
/simulation/script/*.log
/simulation/script/local_settings.py
/simulation/script/db.sqlite3
/simulation/script/db.sqlite3-journal
/simulation/script/instance/
/simulation/script/.webassets-cache
/simulation/script/.scrapy
/simulation/script/docs/_build/
/simulation/script/.pybuilder/
/simulation/script/target/
/simulation/script/.ipynb_checkpoints
/simulation/script/profile_default/
/simulation/script/ipython_config.py
/simulation/script/.pdm.toml
/simulation/script/__pypackages__/
/simulation/script/celerybeat-schedule
/simulation/script/celerybeat.pid
/simulation/script/*.sage.py
/simulation/script/.env
/simulation/script/.venv
/simulation/script/env/
/simulation/script/venv/
/simulation/script/ENV/
/simulation/script/env.bak/
/simulation/script/venv.bak/
/simulation/script/.spyderproject
/simulation/script/.spyproject
/simulation/script/.ropeproject
/simulation/script/site
/simulation/script/.mypy_cache/
/simulation/script/.dmypy.json
/simulation/script/dmypy.json
/simulation/script/.pyre/
/simulation/script/.pytype/
/simulation/script/cython_debug/
/simulation/script/trips.trips.xml
/simulation/script/Temp.json
desktop.ini